* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 700px;
  margin: 3% 25%;
}
.title {
  font-size: 25px;
  font-weight: 700;
  background-color: rgb(227, 24, 24);
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}
.title:hover {
  background-color: rgb(175, 20, 20);
}
.para {
  font-size: 18px;
  padding: 10px;
  background-color: darksalmon;
  display: none;
  margin: 2px;
}
.second.active .para {
  display: block;
}
